
body{
  background: #e3e3e3;
}

.title {
  font-size: xx-large;
  font-family: monospace;
  font-style: oblique;
  margin-top: 50px;
  margin-bottom: 0; /* Remove the bottom margin */
  text-align: center;
}

.subTitle {
  color: #888888;
  text-align: center;
  font-family: monospace;
  margin-top: -20px;
}

.photoTitle {
  display: flex;
  justify-content: center;
}




